@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    font-family: "Zen Dots", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/spaceship_chatgpt.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

#welcome {
    margin-top: 30vh;
    font-size: 4rem;
    letter-spacing: 0.4vw;
    color: rgb(194, 230, 240);
    text-shadow: 0.3rem 0.3rem 0.3rem #23d8d8;
}